body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #4caf99d8;
    color: rgba(110, 107, 107, 0);
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px;
}
